html, body {
    margin: 0;
    padding: 0;
    background: transparent !important;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(0,0,0,0.85);
    color: white;
    padding: 12px;
}
